@import "tailwindcss";

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* Utile pour les effets de fondu au chargement */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-in {
  animation: fadeIn 0.5s ease-out forwards;
}